<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Productos</title>
<script type="text/javascript"
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column" >
					<a  style="border-bottom-color: green" th:href="@{/producto/irRegistrar}" id="add-row" type="button"
						class="btn btn-primary btn-md left-block"> <span
						class="glyphicon glyphicon-plus" ></span> Producto
					</a>
					<a  style="border-bottom-color: green" th:href="@{/producto/irBuscar}" id="add-row" type="button"
						class="btn btn-primary btn-md left-block"> <span
						class="glyphicon glyphicon-search" ></span> 
					</a>
					<table class="table table-bordered table-hover table-striped"
						id="tab_logic">
						<thead>
							<tr>
								<th class="text-center">Id</th>
								<th class="text-center">Producto</th>
								<th class="text-center">Codigo</th>
								<th class="text-center">Stock</th>
						
								<th class="text-center">Foto</th>
								
								<th class="text-center">OPERACIÓN</th>
								<th class="text-center">OPERACIÓN</th>
								
							</tr>
						</thead>
						<tbody>
							<tr th:each="producto: ${listaProductores}">
								<td th:text="${producto.id}"></td>
								<td th:text="${producto.nombre}"></td>
								<td th:text="${producto.codigo}"></td>
								<td th:text="${producto.stock}"></td>
								
								<td > <img th:src="@{${producto.link}}" width="100" height="100" alt="logo" align="top"></img></td>
								<td><a th:href="@{/producto/eliminar?id=}+${producto.id}">Eliminar</a></td>
								<td><a th:href="@{'/producto/modificar/' + ${producto.id}}">Modificar</a></td>
							</tr>
						</tbody>

					</table>
					
				</div>
			</div>
			<div th:if="${mensaje}" class="alert alert-danger">
			<p th:text="${mensaje}"></p>
			</div>
		</form>
	</div>

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
