<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Factura</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css"></link>

<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>



</head>
<body>
	<!-- Los fragment se insertan ya sea con th:include o th:replace -->
	<!-- th:include simplemente se inserta dentro del espacio asignado -->
	<!-- th:replace remplaza todo el espacio asignado por el fragment correspondiente -->
	<!-- sintaxis th:include/replace="rutafragment :: Nombre del fragment -->
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<!-- th:action toma la accion de un form que se ejecutara por medio de un boton-->
		<!-- @{} Expresion de enlace -->
		<!-- ${} Declaracion de Variable -->
		<!-- th:object declara un objeto que sera usado por los *{} -->
		<form th:action="@{/factura/registrar}" method="post" th:object="${factura}"
		
			enctype="multipart/form-data">
			<div class="form-group">
			<!-- *{} Setea la variable -->
				<label for="id">ID:</label> <input type="text" readonly="readonly"
					class="form-control" th:field="*{id}"></input>

				<div class="form-group">
				
	<label for="tipo" class=" col-sm-2 col-form-label">Servicio: </label> <select
						class="form-control" th:field="*{servicio.id}">
					<option th:each="p: ${listaServicios}" th:value="${p.id}"
							th:text="${p.id}"
							th:selected="(${p.id} == *{servicio.id})"></option>
					</select>
					
						<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Options</label>
  </div>
  <select class="custom-select" id="inputGroupSelect01" name="inputGroupSelect01">
    <option selected>Choose...</option>
   <option th:field="*{estado}" value="Falta pagar" >Falta pagar</option>
						<option  th:field="*{estado}" value="Pagado" >Pagado</option>
  </select>
  
</div>


					<div class="form-group">
						<label for="monto">Monto:</label> <input type="text"
							class="form-control" id="monto" aria-describedby="monto" readonly="readonly"
							th:field="*{monto}" placeholder="type here ..." />
					</div>
					<div class="form-group">
						<label for="montop">Monto con problemas:</label> <input type="text"
							class="form-control" id="montop" aria-describedby="montop" readonly="readonly"
							th:field="*{montoproblemas}" placeholder="type here ..." />
					</div>
					

				</div>

			</div>

			<button type="submit" class="btn btn-primary">Aceptar</button>
			<a href="/factura/listar" class="btn btn-danger">Cancelar</a>

		</form>
	</div>
	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
